<div class="commentFormHeader">
	<div class="commentFormToggle">
		<div class="commentFormHide"></div>
	</div>
	<div class="clear"></div>
</div>
<div class="commentConfirm">
	<p>Thank you for taking your time and contacting us.</p>
	<p>Customer service is our number one priority.</p>
	<p>Your thoughts are very important, we will reply to you as soon as possible.</p>
</div>