.welcomeMessage {
	color: rgb(60, 60, 60);
	margin: 0 auto;
	width: 400px;
}

.welcomeMessage p {
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 14px 0;
}

.welcomeImage {
	margin: 40px auto;
	width: 300px;
}

.welcomeImage img {
	max-width: 300px;
}