<div class="mainContent">
	<div class="welcomeMessage">
		<%= welcome_message %>
	</div>
	<div class="welcomeImage">
		<%= image_tag '/assets/welcome_gray.png' %>
	</div>
	<%= render 'shared/hours' %>
</div>