/* Sidebar */
.menuSidebar h1, .menu h1, .menuLink {
	background: rgb(196, 43, 38);
	color: rgb(60, 60, 60);
	font-size: 30px;
	font-family: Chinese, Helvetica, Arial, sans-serif;
	font-weight: 700;
	height: 40px;
	margin: 0 0 5px 0;
	padding: 10px 20px;
}